@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fefae0;
  color: #3c2a1e;
}
.modal-popup {
  background: #fefae0 !important;
  color:#3c2a1e !important;
}
.modal-confirm-button {
  background-color: #CCD5AE !important
}
.modal-cancel-button {
  background-color: #d5aeae !important

}
